@font-face {
    font-family: "Clash Display";
    src: url("Assets/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h3,
.statsNumber,
.popularTitle {
    font-family: "Clash Display", sans-serif;
}

p {
    font-family: poppins;
}

.getStarted {
    background: linear-gradient(90deg, #F7CC5D 0%, #8FC572 100%);
}

.learnMore img {
    transition: all .5s ease;
}

.learnMore:hover {
    img {
        margin-left: 5px;
    }
}

.stats {
    background-color: rgba(255, 255, 255, 0.024);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(114, 114, 114, 0.275);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.personOneBox {
    background: linear-gradient(90deg, #3E4434 0%, #48422E 100%);
}

.personTwoBox {
    background: linear-gradient(90deg, #394132 0%, #2D473E 100%);
}

.personThreeBox {
    background: linear-gradient(90deg, #5B5751 0%, #4B3432 100%);
}

.personFourthBox {
    background: linear-gradient(90deg, #423A2F 0%, #483B2B 100%);
}

.um{
    flex:1.5;
}

.dois{
    flex: 1;
}